body
{
	background-color:rgb(230, 230, 230);
	color: rgb(41, 41, 41);
}
/* .text-danger {
	color: red;
} */

.business-img-cover {
	height: 25em;
	object-fit: cover;
}
.kyd-img-card {
	height: 10em;
	object-fit: cover;
}